@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
}

nav {
  margin-left: -15px;
}

a:hover {
  text-decoration: underline;
}

.heading .site-title {
  font-weight: 300;
  margin: 1rem 0 0;
}

.site-title-container .uk-icon {
  color: #333;
}

.uk-navbar-container.uk-navbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.uk-navbar-nav {
  flex-wrap: wrap;
  min-height: 0;
}

.uk-navbar-nav .nav-link {
  font-size: 1.75rem;
  min-height: 0;
}

.nav-link svg {
  margin: 0 0.5rem 0 0;
}

.nav-link:hover {
  text-decoration: underline;
}

.note .utterances {
  margin-left: 0;
  margin-right: 0;
}

.note-created, .note-updated {
  margin: 0;
}

pre {
  color: #fff8dc;
  background-color: #1c1c1c;
  font-family: 'Oxygen Mono', monospace;
}

.sitemap-entries a {
  margin: 0 0.5rem;
}
